@CHARSET "UTF-8";

#search-form {
	padding: 0px 15px;
}

tr.image-size div.image-size-item {
	text-align: left !important;
	width: 100%;
}

tr.align td.field {
	text-align: left !important;
}
tr.align label.align {
	padding-left: 25px;
}

div.search-form-off {
	display: none;
}

#search-form {
}

#search-header {
}

#search-results {
}

#search-results div.thumbnail {
	float: left;
	width: 105px;
	margin: 3px;
}

#search-results div.thumbnail div.title {
	font-size: 10px;
}

#search-results div.thumbnail img.photo {
	border: 1px solid #CCCCCC;
	padding: 3px 15px;
}

#search-results div.thumbnail:nth-child(5n+1) {
	clear: both;
}

/* ==========================================
pager
========================================== */
div.pager {
	margin: 3px 0;
}
div.pager span.current {
	font-weight: bold;
	margin-right: 3px;
	background-color: #21759b;
	color: #ffffff;
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.pager a.first {
	margin-right: 3px;
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.pager a.prev {
	margin-right: 3px;
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.pager a.end {
	margin-left: 3px;
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.pager a.next {
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.pager a.page {
	margin-right: 3px;
	padding: 3px 6px;
	border: 1px solid #21759b;
}
div.inline-container {
    background-color: #fff;
}
div.inline-header {
}
div.inline-header:after { /* clearfix */
    content: "";
    display: table;
    clear: both;
}
div.inline-header ul.inline-tabs {
    border-bottom: 1px solid #ccc;
}
div.inline-header ul.inline-tabs:after { /* clearfix */
    content: "";
    display: table;
    clear: both;
}
div.inline-header ul.inline-tabs li {
    float: left;
    padding-left: 10px;
}
div.inline-header ul.inline-tabs li a {
    padding: 5px 5px 6px 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
div.inline-header ul.inline-tabs li a:link {
    text-decoration: none;
}
div.inline-header ul.inline-tabs li a.current {
    background-color: #ccc;
}
