@CHARSET "UTF-8";

div.search-form-off {
	display: none;
}

#search-form {
}

#search-header {
}

#search-results {
}

#search-results div.thumbnail {
	float: left;
	width: 105px;
	margin: 3px;
}

#search-results div.thumbnail div.title {
	font-size: 10px;
}

#search-results div.thumbnail img.photo {
	border: 1px solid #CCCCCC;
	padding: 3px 15px;
}

#search-results div.thumbnail:nth-child(5n+1) {
	clear: both;
}